/* CleanUI */

.hues-m-controls.hues-x-controls {
    height: 50px;
    z-index: 1;
    background: none;
    border-style: none;
}

.hues-x-controls > .hues-m-songtitle {
    bottom: 5px;
}

.hues-x-controls > .hues-m-imagename {
    bottom: 29px;
}

.hues-m-beatbar.hues-x-beatbar {
    background: none;
    border-style: none;
    overflow: visible;
}

.hues-x-fade{
    transition: opacity 0.1s linear;
}

.hues-x-visualisercontainer {
    transform: scaleY(-1);
    position: absolute;
    width: 100%;
    height: 64px;
    top: 25px;
    left: 0;
}
